.about .container {
  position: relative;

  justify-content: flex-end;
  align-items: flex-end;
  min-height: 552px;
}

.about {
  margin-bottom: 53px;
}

.about__img {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
}

.about__body {
  width: 785px;
  height: 455px;
  padding: 70px 200px 65px 80px;
  z-index: 1;

  background-color: #ffffff;
  background-image: url('../../img/mountains.jpg');
}

.about__title {
  margin-bottom: 37px;

  color: #000000;
  font-size: 36px;
  font-weight: 700;
}

.about__text {
  margin-bottom: 68px;

  font-size: 16px;
  line-height: 1.7;
  color: #000000;
}

.about__btn {
  padding: 18px 40px;
}
