.catalog .container {
  flex-direction: column;
}

.catalog {
  margin-bottom: 127px;
}

.catalog__title {
  position: relative;

  margin-bottom: 50px;

  font-size: 36px;
  font-weight: 700;
}

.catalog__title::after {
  content: "";

  position: absolute;
  top: 15px;
  left: 285px;

  width: 21px;
  height: 28px;

  background-image: url('../../img/flame.png');
}

.catalog__list {
  display: flex;
}

.catalog__card {
  width: 362px;
  margin-right: 27px;
  border-radius: 5px;

  font-size: 14px;
}

.catalog__card:last-child {
  margin-right: 0;
}

.catalog__img {
  display: block;
}

.catalog__content {
  padding: 33px 16px 26px 22px;

  color: #000000;

  background-color: #ffffff;
}

.catalog__content-title {
  margin-bottom: 20px;

  font-size: 24px;
  font-weight: 700;
}

.catalog__content-list {
  display: flex;
  margin-bottom: 25px;
}

.catalog__content-item {
  position: relative;

  margin-right: 38px;
  padding-left: 36px;

  font-size: 16px;
  color: #666666;
}

.catalog__content-item:last-child {
  margin-right: 0;
}

.catalog__content-item--calendar::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 26px;
  height: 26px;

  background-image: url('../../img/calendar.png');
}

.catalog__content-item--meal::before {
  content: "";

  position: absolute;
  top: -3px;
  left: -7px;

  width: 36px;
  height: 26px;

  background-image: url('../../img/meal.png');
}

.catalog__content-text {
  margin-bottom: 25px;

  color: #303030;
}

.catalog__content-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 135px;
  height: 55px;
  border-radius: 35px;

  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;

  background-color: #F5170E;
}

.catalog__content-btn:hover {
  color: #ffffff;

  background-color: #DA0100;
}

.catalog__content-btn--active {
  color: #F5170E;
  border: 1px solid #F5170E;

  background-color: #ffffff;
}
