.contacts {
  position: relative;
  font-style: normal;
}

.contacts__link {
  font-size: 26px;
  line-height: 1.1;
}

.contacts__text {
  margin: 0;

  font-size: 13px;
  text-align: right;
}

.dropdown {
  position: relative;
}

.dropdown__list {
  position: absolute;
  top: 100%;
  right: -777px;

  opacity: 0;
  transition: opacity .7s;
  font-weight: 700;
  font-size: 13px;
  color: #1E1F20;
  padding: 20px;
  margin-top: 10px;
  border-radius: 10px;

  background-color: #EDEDED;
}

.dropdown__list::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -30px;

  display: block;
  height: 30px;
}

.dropdown__list::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 97px;

  border: 10px solid transparent;
  border-top-width: 0;
  width: 0;
  height: 0;
  border-bottom-color: #EDEDED;
}

.dropdown:hover .dropdown__list {
  right: 0;
  opacity: 1;
}
