.greetings {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 65px;
  padding-left: 155px;
  padding-right: 155px;

  background-image: url('../../img/shades-logo.png');
  background-repeat: no-repeat;
}

.greetings__text {
  margin-bottom: 50px;

  font-size: 18px;
}

.greetings__btn {
  padding: 18px 58px;
}

.greetings--asia {
  opacity: 0;
  animation: zoom .9s ease-in;
  animation-fill-mode: forwards;
}

@keyframes zoom {
  from {
    transform: scale(.7);
  }

  20% {
    transform: scale(1.15);
  }

  40% {
    transform: scale(.9);
  }

  60% {
    transform: scale(1.1);
  }

  80% {
    transform: scale(.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
