.header {
  padding-top: 30px;
  margin-bottom: 120px;
}

.header-services {
  margin-bottom: 100px;
}

.header .container {
  align-items: center;
}

.header .logo {
  margin-right: 80px;
}

.header .contacts {
  margin-left: auto;
}
