.info .container {
  flex-direction: column;
}

.info {
  margin-bottom: 245px;
}

.info__page-title {
  width: 45%;
  margin-bottom: 20px;
}

.info__text {
  margin: 0;
  margin-bottom: 30px;

  font-size: 18px;
}

.info__btn {
  padding: 18px 40px;
}
