.info .container {
  flex-direction: column;
}

.info {
  margin-bottom: 245px;
}

.info__title {
  width: 45%;
  margin-bottom: 20px;

  font-size: 72px;
  font-weight: 700;
  line-height: 1.4;
}

.info__text {
  margin: 0;
  margin-bottom: 30px;

  font-size: 18px;
}

.info__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 168px;
  height: 55px;
  border-radius: 35px;

  font-weight: 700;
  text-transform: uppercase;

  background-color: #F5170E;
}

.info__btn:hover {
  background-color: #DA0100;
}
