.nav__list {
  display: flex;
  flex-wrap: wrap;
}

.nav__item {
  margin-right: 55px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  display: block;
}

.nav__link:hover {
  transition: .7s;
  color: #DA0100;
}

.nav__link--active {
  color: #DA0100;
}
