.news .container {
  flex-direction: column;
}

.news {
  margin-bottom: 148px;
}

.news__title {
  font-size: 36px;
  font-weight: 700;

  margin-bottom: 50px;
}

.news__list {
  display: flex;
  margin-bottom: 53px;

  font-size: 0;
}

.news__item {
  display: flex;
  justify-content: space-between;
  width: 557px;
  min-height: 394px;
  margin-right: 25px;
  border-radius: 5px;

  font-size: 14px;
  vertical-align: top;
}

.news__body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 130px;
  padding: 25px 30px;
}

.news__item--left {
  background-image: url('../../img/plain.jpg');
}

.news__item--right {
  background-image: url('../../img/surfer.jpg');
}

.news__item:last-child {
  margin-right: 0;
}

time {
  display: block;
  margin-bottom: 12px;
}

.news__body-caption {
  margin-bottom: 5px;

  font-size: 24px;
  font-weight: 700;
}

.news__body-text {
  font-size: 16px;
}
