.paginator {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #000;
}

.paginator__text {
  margin-right: 25px;

  font-size: 16px;
}

.paginator__list {
  display: flex;
}

.paginator__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;

  font-size: 16px;
  font-weight: 700;
}

.paginator__link:hover {
  transition: .7s;
  color: #fff;

  background-color: #F5170E;
}

.paginator__link:active {
  color: #F5170E;
  box-shadow: 0 0 0 1px #F5170E;

  background-color: #ffffff;
}
